@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");

/********** BASE CSS **********/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/********** VARIABLES CSS **********/
:root {
  /* Color */
  --background: #f9fbff;
  --box-background: #e9f4ff;
  --blue: #0179fe;
  --gradient: linear-gradient(262deg, #007aff 2.82%, #1c59d9 77.26%);
  --text-dark: #000;
  --text-white: #fff;

  /* Font and typography */
  --body-font: "Inter", sans-serif;
  --title-font: "Josefin Sans", sans-serif;
  --h1-font-size: 2.5rem;
  --h2-font-size: 2.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 0.938rem;

  /* Font weight */
  --font-bold: 700;
}

/* Responsive typo for min 964px screen  */
body {
  scroll-behavior: smooth;
  position: relative;
  line-height: 1;
  background-color: var(--background);
  font-family: var(--body-font);
  color: var(--text-dark);
  font-size: var(--normal-font-size);
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
}
a {
  text-decoration: none;
  color: var(--text-dark);
  font-family: "Josefin sans", sans-serif;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  font-family: var(--title-font);
  font-weight: var(--font-bold);
}
.ctn {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1380px;
}
/***** Arrow Up *****/
.arrowUp {
  position: fixed;
  right: 1.5rem;
  bottom: -30%;
  z-index: 1000;
  background-color: var(--background);
  box-shadow: 0 4px 12px hsl(107, 4%, 55%);
  border-radius: 50%;
  padding: 0.2rem 0.3rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--blue);
  transition: bottom 0.3s, transform 0.3s;
}
.arrowUp:hover {
  transform: translateY(-3px);
}
/* Show Arrow Up*/
.showArrowUp {
  bottom: 10%;
}
/************ LAYOUT HEADER & FOOTER  *************/

/********** HEADER **********/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--text-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  font-weight: var(--font-bold);
  transition: all 0.3s ease;
}

.menu ul li a {
  color: var(--text-dark);
  transition: color 0.3s ease;
}

.menu ul li a:hover {
  color: var(--blue);
}
.menu ul li a.active {
  color: var(--blue);
}
/* Burger BTN */
.burger-menu {
  display: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.burger-menu:before {
  content: "\2630";
  font-size: 30px;
  transition: transform 0.3s ease;
}

.burger-menu.cross:before {
  content: "\2715";
  transform: rotate(0deg);
}
/********** FOOTER **********/
footer {
  background-color: var(--text-dark);
  padding: 0 20px;
}
.footer_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 80px 0;
  color: var(--text-white);
  width: 100%;
}
.contact-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #636363;
  padding-bottom: 20px;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact p {
  margin: 30px 0 15px 0;
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
}
.footer_container a {
  color: var(--text-white);
  font-size: 20px;
  text-decoration: underline;
}

.footer-menu ul {
  color: var(--text-white);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.footer-menu ul li a {
  text-decoration: none;
  color: var(--text-white);
  font-size: var(--h3-font-size);
}
.footer-menu ul li a:hover {
  color: #fe6b01;
}

.rights {
  display: flex;
  justify-content: space-between;
}

/**************** PAGE HOME ********************/

/********** SECTION HERO **********/
#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 34.27%, #000 100%),
    url(../images/bg-1.webp) no-repeat bottom center/cover;
  background-position: center bottom 22%;
  margin-top: 74px;
  padding: 40px 0px;
}
.hero_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 80px;
}
.hero_content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 100%;
}

.hero_content h1 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  color: var(--text-white);
  width: 55%;
}

/* ******************* */
.anazir_content {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 100%;
  height: auto;
  background: rgba(34, 34, 34, 0.7);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  color: var(--text-white);
}
.anazir_info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.info {
  position: relative;
  border-right: 1px solid #d8d8d8;
  padding-right: 10px;
}
.info:nth-child(1) {
  padding-left: 0px;
}
.info:nth-child(6) {
  border-right: none;
}
.info h3 {
  font-size: 14px;
  color: #d8d8d8;
  font-weight: normal;
  line-height: 1.5rem;
}
.blue-btn {
  text-transform: uppercase;
  background: var(--gradient);
  color: var(--text-white);
  padding: 10px 20px;
  border: none;
  font-size: 14px;
  font-weight: var(--font-bold);
  transition: all 0.3s ease;
  cursor: pointer;
}
.blue-btn:hover {
  transition: all 0.3s ease;
  background: #fe6b01;
  transform: scale(1.1);
}

/********** SECTION Mission **********/

/***************Position et Animation golem section mission***************/

#mission {
  position: relative;
}
.svg_container :nth-child(1) {
  position: absolute;
  top: 25%;
  left: 1%;
  z-index: -1;
  width: 47px;
  animation: infinite-rotate-right 6s linear infinite;
  animation-delay: 4ms;
}
.svg_container :nth-child(2) {
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: -1;
  width: 33px;
  transform: rotate(65deg);
  animation: infinite-rotate-left 8s linear infinite;
  animation-delay: 3ms;
}
.svg_container :nth-child(3) {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: -1;
  width: 37px;
  transform: rotate(180deg);
  transform-origin: center;
  animation: infinite-rotate-right 9s linear infinite;
  animation-delay: 3ms;
}
.svg_container :nth-child(4) {
  position: absolute;
  top: 23%;
  left: 28%;
  z-index: -1;
  width: 33px;
  transform: rotate(90deg);
  animation: infinite-rotate-left 6s linear infinite;
  animation-delay: 0s;
}
.svg_container :nth-child(5) {
  position: absolute;
  top: 47%;
  right: 22%;
  z-index: -1;
  width: 37px;
  transform: rotate(0deg);
  animation: infinite-rotate-right 9s linear infinite;
  animation-delay: 5ms;
}
.svg_container :nth-child(6) {
  position: absolute;
  top: 18%;
  left: 42%;
  z-index: -1;
  width: 37px;
  transform: rotate(45deg);
  animation: infinite-rotate-right 7s linear infinite;
  animation-delay: 1ms;
}
.svg_container :nth-child(7) {
  position: absolute;
  bottom: 10%;
  right: 30%;
  z-index: -1;
  width: 55px;
  transform: rotate(45deg);
  animation: infinite-rotate-left 5s linear infinite;
}
@keyframes infinite-rotate-right {
  0% {
    transform: rotate(0deg) translateX(50px) translateY(-50px);
  }
  100% {
    transform: rotate(360deg) translateX(50px) translateY(-50px);
  }
}
@keyframes infinite-rotate-left {
  0% {
    transform: rotate(360deg) translateX(70px) translateY(-70px);
  }
  100% {
    transform: rotate(0deg) translateX(70px) translateY(-70px);
  }
}
/***************Position et Animation golem section mission***************/
.mission_container {
  position: relative;
}
.mission_section .mission_container::before {
  content: "";
  background-image: url(../images/golem-dolmoss.webp);
  background-size: cover;
  height: 480px;
  width: 480px;
  position: absolute;
  top: -130px;
  right: -100px;
  /* animation: arriveAndGrow 2s ease forwards;
  animation-delay: 0s;
  opacity: 0; */
}
.mission_section .mission_container::after {
  content: "";
  background-image: url(../images/golem-horse.webp);
  background-size: cover;
  height: 195px;
  width: 195px;
  position: absolute;
  top: -90px;
  right: -170px;
  /* animation: arriveAndGrow 2s ease forwards;
  animation-delay: 1s;
  opacity: 0; */
}

/* @keyframes arriveAndGrow {
  0% {
    transform: translateY(-20%) translateX(100%) scale(0.1);
  }
  100% {
    transform: translateY(0) translateX(0) scale(1);
    opacity: 1;
  }
} */

.mission_container h2 {
  font-size: var(--h1-font-size);
  font-family: var(--body-font);
  width: 80%;
  margin: 0 auto;
  padding: 250px 0;
  line-height: 5rem;
}
span.blue {
  font-family: "Londrina Solid", sans-serif;
  color: var(--text-white);
  text-transform: uppercase;
  background-color: var(--blue);
  padding: 0 10px;
}
span.orange {
  font-family: "Londrina Solid", sans-serif;
  color: var(--text-white);
  text-transform: uppercase;
  background-color: #fe6b01;
  padding: 0 10px;
}

/********** SECTION VISION **********/
#vision {
  position: relative;
  background: url(../images/cave-bg.webp) no-repeat center bottom;
  background-size: 146% auto;
  background-position: center 80%;
  height: 900px;
}
.vision_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 50px;
  padding: 340px 0;
  color: var(--text-white);
  width: 65%;
}
.vision_container::before {
  content: "";
  background-image: url(../images/golem-totheal.webp);
  background-size: cover;
  height: 430px;
  width: 430px;
  position: absolute;
  bottom: 2%;
  left: 2%;
}
/* svg position and animation */
.vision_svg_container :nth-child(1) {
  position: absolute;
  top: 15%;
  left: 20%;
  width: 50px;
  rotate: -50deg;
  opacity: 0;
  animation: flicker 10s linear infinite;
  animation-delay: 1ms;
  transition: all 3s ease;
}
.vision_svg_container :nth-child(2) {
  position: absolute;
  top: 12%;
  left: 40%;
  width: 50px;
  opacity: 0;
  animation: flicker 6s linear infinite;
  animation-delay: 3ms;
  transition: all 3s ease;
}
.vision_svg_container :nth-child(3) {
  position: absolute;
  top: 17%;
  right: 20%;
  width: 50px;

  opacity: 0;
  animation: flicker 7s linear infinite;
  animation-delay: 5ms;
  transition: all 3s ease;
}
.vision_svg_container :nth-child(4) {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 50px;
  opacity: 0;
  animation: flicker 10s linear infinite;
  animation-delay: 1ms;
  transition: all 3s ease;
}
.vision_svg_container :nth-child(5) {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 30px;
  opacity: 0;
  animation: flicker 5s linear infinite;
  animation-delay: 1s;
  transition: all 3s ease;
}
.vision_svg_container :nth-child(6) {
  position: absolute;
  top: 35%;
  left: 65%;
  width: 50px;
  opacity: 0;
  animation: flicker 6s linear infinite;
  animation-delay: 8ms;
  transition: all 3s ease;
}
.vision_svg_container :nth-child(7) {
  position: absolute;
  top: 45%;
  right: 19%;
  width: 60px;
  opacity: 0;
  animation: flicker 9s linear infinite;
  animation-delay: 1s;
  transition: all 3s ease;
}
.vision_svg_container :nth-child(8) {
  position: absolute;
  top: 42%;
  left: 47%;
  width: 70px;
  /* rotate: -70deg; */
  opacity: 0;
  animation: flicker 8s linear infinite;
  animation-delay: 7ms;
  transition: all 3s ease;
}
.vision_svg_container :nth-child(9) {
  position: absolute;
  bottom: 25%;
  left: 44%;
  width: 50px;
  opacity: 0;
  animation: flicker 10s linear infinite;
  animation-delay: 1ms;
  transition: all 3s ease;
}
.vision_svg_container :nth-child(10) {
  position: absolute;
  bottom: 24%;
  left: 58%;
  width: 50px;
  opacity: 0;
  animation: flicker 7s linear infinite;
  animation-delay: 5ms;
  transition: all 3s ease;
}
.vision_svg_container :nth-child(11) {
  position: absolute;
  bottom: 30%;
  left: 55%;
  width: 50px;
  transform: rotate(-125deg);
  opacity: 0;
  animation: flicker 5s linear infinite;
  animation-delay: 1ms;
  transition: all 3s ease;
}
.vision_svg_container :nth-child(12) {
  position: absolute;
  bottom: 29%;
  right: 30%;
  width: 50px;
  opacity: 0;
  animation: flicker 6s linear infinite;
  animation-delay: 1s;
  transition: all 3s ease;
}
@keyframes flicker {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}
.vision_container h2 {
  display: flex;
  flex-direction: column;
  font-size: var(--h1-font-size);
  font-family: var(--title-font);
  line-height: 4.5rem;
  height: 100%;
}
.vision_container h2 .small {
  font-size: 50px;
}
.vision_container h2 .medium {
  font-size: 60px;
}
.vision_container h2 .large {
  font-size: 80px;
}
.vision_container p {
  width: 60%;
  font-size: 26px;
  line-height: 1;
  padding-bottom: 15px;
}

/********** SECTION ABOUT **********/
#about {
  position: relative;
  display: grid;
  place-items: center;
}
.about_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  padding: 290px 0;
  color: var(--text-dark);
  width: 50%;
  margin: 0 auto;
}
.about_container h2 {
  font-size: var(--h1-font-size);
  font-family: var(--title-font);
  line-height: 4.5rem;
}
.about_container p {
  font-size: 26px;
}
.about_container :nth-child(3) {
  font-weight: var(--font-bold);
}

/* intégration et positionnement golem & crown */
.about_container::before {
  content: "";
  background-image: url(../images/golem-humus.webp);
  background-size: cover;
  position: absolute;
  bottom: -11%;
  left: 5%;
  height: 671px;
  width: 398px;
}
.about_container::after {
  content: "";
  background-image: url(../images/crown.svg);
  background-size: cover;
  height: 250px;
  width: 205px;
  position: absolute;
  top: 10%;
  right: 10%;
  animation: crownAnimation 0.5s infinite;
}
@keyframes crownAnimation {
  0%,
  100% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-10px) rotate(-5deg); /* Ajuste la distance et l'angle selon tes préférences */
  }
}
/*********************************************************************/
/**************** PAGE LE-STUDIO ********************/
.center-grid {
  display: grid;
  place-items: center;
}
/********** SECTION Presentation **********/
.presentation {
  margin-top: calc(75px + 40px);
}
.presentation_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  width: 65%;
}
.presentation_content span {
  margin-top: 10px;
  font-weight: var(--font-bold);
  font-family: var(--title-font);
  color: var(--blue);
  font-size: 20px;
}
.presentation_content h1 {
  margin: 20px 0;
  font-size: var(--h2-font-size);
  text-align: center;
}

.presentation_content_txt {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.presentation_funder {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  background-color: var(--blue);
  color: var(--text-white);
}
.presentation_funder::before {
  content: "";
  background-image: url(../images/gemme.webp);
  background-size: cover;
  height: 350px;
  width: 225px;
  position: absolute;
  top: -26%;
  right: -6%;
  animation: gemmeAnimation 3s ease-in-out infinite;
}
@keyframes gemmeAnimation {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}
.presentation_funder :nth-child(1) {
  width: 80%;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}
.presentation_funder img {
  width: 100%;
  max-width: 1250px;
  -webkit-box-shadow: 0px 40px 30px 40px #000000,
    1px 22px 15px -15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 10px 13px -7px #000000,
    1px 22px 15px -15px rgba(0, 0, 0, 0.15);
}
.presentation_funder :nth-child(3) {
  margin-top: 30px;
  font-weight: normal;
  text-align: center;
  font-size: 1rem;
}

/********** SECTION FUNDER **********/
section.funder {
  position: relative;
  overflow: hidden;
}

.funder::before {
  content: "";
  background-image: url(../images/logo-threevision-funder.svg);
  position: absolute;
  height: 500px;
  width: 440px;
  top: 12%;
  right: -7%;
  z-index: -1;
}
.funder_team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 0;
  width: 80%;
}
.funder_team h3 {
  font-family: var(--body-font);
  font-size: 24px;
}
.funder_cards_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.funder_card {
  display: flex;
  gap: 20px;
}
.funder_card_txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.funder_card_txt h4 {
  font-size: 24px;
  font-weight: var(--font-bold);
}
.funder_card_txt :nth-child(2) {
  font-size: 20px;
  font-weight: var(--font-bold);
  color: var(--blue);
}
.funder_card_txt :nth-child(3) {
  font-size: 20px;
}
.funder_img {
  width: 90%;
  -webkit-box-shadow: 0px 40px 30px 40px #000000,
    1px 22px 15px -15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 10px 13px -7px #000000,
    1px 22px 15px -15px rgba(0, 0, 0, 0.15);
}

/************ SECTION TEAM ******************/
.team {
  position: relative;
  background-color: #171717;
  color: var(--text-white);
  z-index: 1;
}
.team::after {
  content: "";
  background-image: url(../images/tourelle-humus-2.webp);
  background-size: cover;
  height: 490px;
  width: 485px;
  position: absolute;
  bottom: -21%;
  right: -0%;
  z-index: -1;
}
.team::before {
  content: "";
  background-image: url(../images/ellipse.webp);
  background-size: cover;
  height: 410px;
  width: 410px;
  position: absolute;
  bottom: -5%;
  right: 1%;
  animation: glowAnimation 5s infinite linear;
  z-index: -1;
}
@keyframes glowAnimation {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}
.team_container {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.team_container_title,
.team_container_txt {
  text-align: center;
}
.team_container_title h3 {
  font-size: 28px;
  margin-bottom: 20px;
}
.bl {
  color: var(--blue);
  font-weight: var(--font-bold);
}

.team_container_txt :nth-child(1) {
  font-size: 18px;
  font-weight: var(--font-bold);
  margin-bottom: 10px;
}
.team_container_txt :nth-child(2) {
  font-family: "Londrina Solid", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.team_container_txt :nth-child(3) {
  font-size: 24px;
  text-transform: uppercase;
}

/* teammate card */
/* color team class */
.team-orange {
  color: #fe9901;
}
.team-violet {
  color: #c190ff;
}
.team-green {
  color: #7fff74;
}
.team-blue {
  color: #4a9fff;
}
.teammate_container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.teammate_card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 32%;
  min-width: 300px;
}
.teammate_card_txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.teammate_card_txt p {
  font-size: 18px;
  line-height: 1.3;
}
.teammate_card_txt > p {
  height: 50%;
}
.teammate_card_txt h4 {
  font-size: 24px;
  font-weight: var(--font-bold);
  text-transform: uppercase;
}
.teammate_infos {
  height: 50%;
}
.teammate_infos :nth-child(2) {
  text-transform: uppercase;
  margin: 10px 0;
}
.teammate_infos .game-info {
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  font-size: var(--normal-font-size);
}
.span-bold {
  font-weight: var(--font-bold);
}
/* **************** SECTION THREE VISION ********************/
.three-vision {
  position: relative;
  background-color: var(--text-white);
  padding: 80px 0;
}
.three-vision::before {
  content: "";
  background-image: url(../images/tower.webp);
  background-size: cover;
  height: 430px;
  width: 400px;
  position: absolute;
  bottom: -10%;
  left: 0%;
}
.three-vision_container {
  width: 55%;
}
.three-vision_title {
  margin-bottom: 30px;
  line-height: 1.1;
}
.three-vision_title h3 {
  margin-bottom: 30px;
  font-size: 28px;
  text-transform: uppercase;
}
.three-vision_title p {
  font-size: 20px;
}
.three-vision-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.three-vision-content :last-child {
  border: none;
}
.three-vision-card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: #c4e0ff solid 1px;
}
/* .three-vision-card img{
  background-color: var(--background);
  padding: 20px;
  border: 4px dashed var(--blue);
} */
.three-vision-card-txt h4 {
  font-size: 22px;
  font-weight: var(--font-bold);
  text-transform: uppercase;
  color: var(--blue);
  margin-bottom: 10px;
}
.three-vision-card-txt p {
  font-size: 20px;
  line-height: normal;
}
.three-vision-card-txt p span {
  font-weight: var(--font-bold);
}
/************ MEDIA QUERIES *****************/

/* Extra large screens */
@media screen and (min-width: 1501px) {
  #vision,
  #about,
  #mission,
  #hero {
    height: 100svh;
    max-height: 900px;
  }
  .vision_container {
    padding: 250px 0;
  }
  .vision_container::before {
    width: 340px;
    height: 340px;
    left: 3%;
    bottom: 4%;
  }
}

/* Large screens */
@media screen and (min-width: 1025px) and (max-width: 1500px) {
  /* SECTION MISSION */
  .mission_section .mission_container h2 {
    width: 90%;
  }
  .mission_section .mission_container::before {
    width: 370px;
    height: 370px;
    right: 15%;
  }
  .mission_section .mission_container::after {
    width: 150px;
    height: 150px;
    right: 5%;
  }

  /* SECTION VISION */
  #vision {
    background-size: cover;
    background-position: center 89%;
  }
  .vision_container {
    padding: 196px 0;
    width: 90%;
  }
  .vision_container::before {
    width: 340px;
    height: 340px;
    left: 3%;
    bottom: 4%;
  }

  /* SECTION ABOUT */
  .about_container {
    width: 60%;
    padding: 215px 0;
  }
  .about_container::before {
    bottom: -8%;
    left: 2%;
    height: 471px;
    width: 260px;
  }
  .about_container::after {
    top: 10%;
    right: 10%;
    height: 160px;
    width: 130px;
  }
}
@media screen and (max-width: 1500px) {
  .ctn {
    max-width: 1040px;
  }

  /* PAGE LE STUDIO */

  /* SECTION PRESENTATION */
  .presentation_funder :nth-child(1) {
    font-size: 20px;
    margin-bottom: 15px;
  }
  /* SECTION FUNDER */
  .funder_team h3 {
    font-size: 20px;
  }
  .funder::before {
    top: 12%;
    right: -10%;
  }
  .team::after {
    height: 400px;
    width: 375px;
    bottom: -14%;
  }
  .team::before {
    height: 250px;
    width: 250px;
    bottom: 0%;
    right: 3%;
  }
  .three-vision-card-txt p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --h1-font-size: 4rem;
    --h2-font-size: 3.1rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
  }
}
/* Medium screens */
@media screen and (max-width: 1250px) {
  .presentation_funder::before {
    height: 270px;
    width: 200px;
    right: 0%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* SECTION MISSION */
  .mission_section .mission_container h2 {
    width: 100%;
    line-height: 3rem;
    padding: 150px 0;
    font-size: 35px;
  }
  .mission_section .mission_container::before {
    width: 295px;
    height: 295px;
    right: 10%;
    top: -12%;
  }
  .mission_section .mission_container::after {
    width: 118px;
    height: 118px;
    right: 5%;
    top: -5%;
  }

  /* SECTION VISION */
  #vision {
    background-size: cover;
    background-position: center 89%;
  }
  .vision_container {
    padding: 196px 0;
    width: 90%;
  }

  /* SECTION ABOUT */
  .about_container {
    width: 60%;
  }
  .about_container h2 {
    font-size: 50px;
  }
  .about_container p {
    font-size: 20px;
  }
  .about_container::before {
    height: 335px;
    width: 195px;
  }
}
@media screen and (max-width: 1024px) {
  .mission_section .mission_container h2 {
    width: 100%;
    line-height: 3rem;
    padding: 150px 0;
    font-size: 35px;
  }
  .mission_section .mission_container::before {
    width: 295px;
    height: 295px;
    right: 10%;
    top: -12%;
  }
  .mission_section .mission_container::after {
    width: 118px;
    height: 118px;
    right: 5%;
    top: -5%;
  }
  .vision_container::before {
    width: 340px;
    height: 340px;
    left: 25%;
    bottom: 4%;
  }
  .funder::before {
    display: none;
  }
  .teammate_card {
    width: 48%;
    padding: 20px;
  }
}

/* Small screens */
@media screen and (max-width: 768px) {
  /* HEADER NAVBAR MEDIA QUERIES */
  .menu ul {
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: -768px;
    width: 100%;
    background-color: var(--text-white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    padding: 30px 0;
  }

  .menu ul.show {
    left: 0;
  }

  .menu ul li {
    margin: 10px 0;
  }

  .burger-menu {
    display: block;
    transition: transform 0.3s ease;
  }

  .burger-menu.cross {
    transform: rotate(90deg);
  }
  /* SECTION HERO */
  #hero {
    height: max-content;
  }
  .anazir_link {
    align-items: center;
  }
  .anazir_link h1 {
    text-align: center;
    width: auto;
  }
  .btn-download-anazir a img {
    width: 48%;
  }

  /* SECTION MISSION */
  .mission_section .mission_container::before,
  .mission_section .mission_container::after {
    display: none;
  }

  /* SECTION VISION */
  #vision {
    height: 100svh;
    background-size: cover;
  }
  .vision_container {
    flex-direction: column;
    padding: 40px 20px;
    width: 100%;
    align-items: flex-start;
    gap: 25px;
  }
  .vision_container::before {
    width: 240px;
    height: 240px;
    bottom: 2%;
  }
  .vision_container p {
    width: 100%;
  }

  /* SECTION ABOUT */
  .about_container {
    width: 100%;
    padding: 140px 20px;
  }
  .about_container h2 {
    font-size: 50px;
  }
  .about_container p {
    font-size: 20px;
  }
  .about_container::before {
    display: none;
  }
  .about_container::after {
    top: 2%;
    height: 115px;
    width: 95px;
  }

  /* SECTION FOOTER */
  .footer_container {
    text-align: center;
    padding: 40px 20px;
  }
  .contact-menu {
    flex-direction: column;
    align-items: center;
  }
  .contact-menu .contact {
    margin-bottom: 20px;
    align-items: center;
  }
  .footer-menu ul {
    align-items: center;
  }
  .rights {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  /* PAGE ABOUT */
  /* SECTION PRESENTATION */
  .presentation_content {
    padding: 0 0 40px 0;
    width: 100%;
  }
  .presentation_funder {
    padding: 20px 0;
  }
  .presentation_funder :nth-child(1) {
    width: 100%;
    padding: 0 20px;
  }
  .presentation_funder :nth-child(3) {
    margin-top: 15px;
    padding: 0 20px;
  }
  .presentation_funder::before {
    height: 100px;
    width: 75px;
    position: absolute;
    top: -12%;
    right: 0%;
  }
  /* SECTION FUNDER */
  .team::before {
    display: none;
  }
  .team::after {
    display: none;
  }
  .funder_team {
    width: 100%;
  }
  .team_container_title {
    padding: 20px;
    text-align: left;
  }
  .teammate_card {
    width: 100%;
    padding: 20px;
  }
  .teammate_card_txt p {
    font-size: 16px;
    line-height: 1.1;
  }
  .teammate_card_txt h4 {
    font-size: 20px;
  }
  .team_container_txt {
    padding: 20px;
  }
  .team_container_txt :nth-child(1) {
    font-size: 16px;
  }
  .team_container_txt :nth-child(2) {
    font-size: 28px;
  }
  .team_container_txt :nth-child(3) {
    font-size: 19px;
  }
  /* SECTION THREE -VISION */
  .three-vision::before {
    display: none;
  }
  .three-vision_container {
    width: 100%;
  }
  .three-vision-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .funder_card {
    flex-direction: column;
    gap: 20px;
  }
  .funder_img {
    display: none;
  }
}
